DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=public"
PORT=3002
CORS_ORIGIN="https://lavi-samuel-frontend-yy68kq-99b4d5-177-7-39-127.sslip.io"

DRIVE_FOLDER_ID="1uXpEGTRbtTZMiH9DS2F7DBbSiwSKf8sS"

# OAuth — use env vars in Docker (no JSON files inside the image)
GOOGLE_OAUTH_CLIENT_ID="....apps.googleusercontent.com"
GOOGLE_OAUTH_CLIENT_SECRET="GOCSPX-..."
GOOGLE_OAUTH_REDIRECT_URI="https://lavi-samuel-backend-sbzxln-cdf361-177-7-39-127.sslip.io/oauth/google/callback"
GOOGLE_OAUTH_REFRESH_TOKEN=""
ALLOW_OAUTH_SETUP="true"
